*{
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding:12px 24px;
    background-color: #8b8878;

}

.header-wrapper > .menu {
    display: flex;
    
}

.header-wrapper a{
    text-decoration: none;
    color: black;
}


.header-wrapper>.menu >button{
    background-color: white;
    padding: 14px 25px;
    border: 1px solid grey;
    cursor: pointer;
    transition: 0.3s background-color ease-out;

}

.header-wrapper >.menu >button:hover{
    background-color: gainsboro;
}

.header-wrapper >.menu >button:first-child{
border-radius: 4px 0 0 4px;
}

.header-wrapper >.menu >button:last-child{
    border-radius: 0 4px 4px 0;
    }

.header-wrapper >.logo{
        width: auto;
        height: 50px;
        border-radius: 50%;
        
    }

/* RESPONSIVE BREAKPOINT */

/* UKURAN SMARTPHONE */
@media screen and (max-width: 600px) {
.header-wrapper{
    flex-direction: column;
}

.menu{
    flex-direction: column;
    width: 100%;
}

.logo{
    margin-bottom: 5px;
}

}
    




/* Home page */
.Homepage{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: dimgray;
}

#tombol{
    border-style: initial;
    color: white ;
    background-color : black;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    font-family: monospace;
    margin-left: 10px;
}


/* ACHIEVMENT COMPONENT */
.achievment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.achievment-content {
    max-width: 1366px;
    width: 100%;
    color: #fff;
    justify-content: space-between;
}

.achievment-content h2 {
    margin-top: 30px;
    color: black;
    
}

.achievment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 20px;
}

.achievment-item {
    margin-top: 20px;
    flex: 1; 
    text-align: center;
}

.achievment-item img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.achievment-item p {
    margin-top: 10px;
    color: black;
}


/* profile content */


.profile-container{
    height: 578px;
    max-width: 1366px;
}

.profile-content{
    display:flex ;
}

.img-item img {
    width: 150px;
    height: 160px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile-item h3{
font-family: 'Roboto', sans-serif;;
color:#8b8878;
}

.profile-item p{
    font-family: 'Barlow Condensed', sans-serif;
}


/* INI FORM */
.container-form{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.container{
    width: 100%;
}

@media screen and (max-width:600px){
    .container {
        
        flex-direction: column;
    }
}
    










