*{
    margin: 0;
    padding: 0;
}

/* NAVBAR */
nav{
    display: flex;
    background-color: rgba(142, 142, 142, 0.353);
    justify-content: space-between;
    height: 60px;
    align-items: center;
    
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 30%;
    padding-right: 30px;
    
}


li a {
    text-decoration: none;
    color: black;
    font-family:'Poppins', sans-serif;
    font-size: 0.9em;
    
}

.li-navbar:hover{
background-color: #8b8878;
transition: .5s ease-in-out;
transition-delay: 0.3s;
border-radius: 8px;
}


/* RESPONSIVE BREAKPOINT */

/* UKURAN TABLET */
@media screen and (max-width:1100px) {
    nav ul{
        width: 50%;
    }
}

/* UKURAN SMARTPHONE */
@media screen and (max-width:576px) {
    nav ul{
    font-size: xx-small;
    }
}



/* Home page */
.Homepage{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: dimgray;
}

#tombol{
    border-style: initial;
    color: white ;
    background-color : black;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    font-family: monospace;
    margin-left: 10px;
}


/* ACHIEVMENT COMPONENT */
.achievment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.achievment-content {
    max-width: 1366px;
    width: 100%;
    color: #fff;
    justify-content: space-between;
}

.achievment-content h2 {
    margin-top: 30px;
    color: black;
    
}

.achievment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 20px;
}

.achievment-item {
    margin-top: 20px;
    flex: 1; 
    text-align: center;
}

.achievment-item img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.achievment-item p {
    margin-top: 10px;
    color: black;
}


/* profile content */


.profile-container{
    height: 578px;
    max-width: 1366px;
}

.profile-content{
    display:flex ;
}

.img-item img {
    width: 150px;
    height: 160px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile-item h3{
font-family: 'Roboto', sans-serif;;
color:#8b8878;
}

.profile-item p{
    font-family: 'Barlow Condensed', sans-serif;
}


/* INI FORM */
.container-form{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.container{
    width: 100%;
}

@media screen and (max-width:600px){
    .container {
        
        flex-direction: column;
    }
}
    










